<div class="d-flex justify-content-center align-items-center login-high">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Login
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="LoginForm">
        <mat-form-field class="col-12">
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="col-12">
          <input matInput placeholder="Password">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
